@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

/* Define @font-face for TWKEverett-Super */
@font-face {
  font-family: "TWK Everett";
  src:
    local("TWKEverettSuper"),
    url("/fonts/TWKEverett/TWKEverett-Super.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Define @font-face for TWKEverett-ExtraBold */
@font-face {
  font-family: "TWK Everett";
  src:
    local("TWKEverettExtraBold"),
    url("/fonts/TWKEverett/TWKEverett-Extrabold.otf") format("opentype");
  font-weight: 750;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TWK Everett";
  font-weight: 400;
  src:
    local("TWKEverettRegular"),
    url("/fonts/TWKEverett/TWKEverett-Regular.otf") format("opentype");
}

/* Define @font-face for TWKEverett-Super */
@font-face {
  font-family: "TWK Everett Mono";
  src:
    local("TWKEverettMonoBold"),
    url("/fonts/TWKEverett/TWKEverettMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Define @font-face for TWKEverett-ExtraBold */
@font-face {
  font-family: "TWK Everett Mono";
  src:
    local("TWKEverettMonoMedium"),
    url("/fonts/TWKEverett/TWKEverettMono-Medium.ttf") format("truetype");
  font-weight: 750;
  font-style: normal;
  font-display: swap;
}

@layer base {
  ul,
  ol {
    list-style: revert;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
input::-webkit-input-placeholder {
  transform: translate3d(0, -2px, 0);
}

.Toastify__toast-body {
  padding: 0px !important;
}

[data-dapp-kit] [role="dialog"]::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 16px;
  padding: 1px; /* This creates the border width */
  background: linear-gradient(
    180deg,
    #ffffff7e 0%,
    #ffffff7e 45%,
    #4ca2ff 60%,
    #4ca2ff 100%
  );
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.proposal-text {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
.proposal-text li {
  list-style-type: disc;
}

.proposal-text ul {
  list-style-type: disc;
}

.proposal-text ol {
  list-style-type: decimal;
}
